.header_banner_wrap,.contact_us_wrap,.ft_wrap{width: 100%;min-width: 1200px;}

.banner{width: 100%;margin: 0 auto;}
.banner img{width: 100%;}

.header_banner_wrap{width: 100%;}
.header_banner{width: 100%;min-width: 1200px;overflow: hidden;position: relative;}
.banner{width: 100%;}
.banner_bg img{width: 100%;}
.banner_white_wrap{width: 200%;position: absolute;top: 0;overflow: hidden;}
.banner_white{width: 50%;float: left;}
.banner_white img{width: 100%;}
.banner_icons{width: 80%;position: absolute;top: 35.5%;left: 10%;}
.banner_icons img{width: 100%;}

.contact_us_wrap{text-align: center;margin: 0 auto;}
.contact_us_title_wrap{padding-top: 40px; padding-bottom: 30px;}
.mouse_img{width: 19px;margin: 10px auto 0;}

#contact{padding: 0 121px 120px;}
.contact{text-align: center;}
.contact_code ul{display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;flex-flow: row wrap;justify-content: space-around;margin-top: 40px;}
.contact_code ul li{width: 183px;}
.contact_code ul li i{display: block;padding: 5px;margin-bottom: 10px;border: 2px solid #ff6573;border-radius: 10px;}
.contact_code ul li img{width: 100%;}


