* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: -apple-system-font, BlinkMacSystemFont, "Helvetica Neue", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
}

a {
	text-decoration: none;
}

ul li {
	list-style: none;
}

h1{font-size: 0.32rem;}
h2{font-size: 0.3rem;color: #3E3E3E;}
h3{font-size: 0.22rem;color: #505050;font-weight: lighter;}

p {
	font-size: 0.26rem;
	color: #7F7F7F;
	line-height: 1.618em;
	word-wrap: break-word;
	letter-spacing: 0.01rem;
	text-align: justify;
	font-weight: lighter;
}

img{max-width: 100%;height: auto;}

#container {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 7.5rem;
	margin: 0.8rem auto;
	padding: 0 0.4rem;
}

.cfloat::after {
	content: '';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.cfloat {
	zoom: 1;
}

.remark{font-size: 0.22rem;color: #bfbfbf;}

.nav_wrap{width:100%;position: fixed;top: 0;}

.nav_list_wrap{width: 7.5rem;margin: 0 auto;-webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;padding: 0.26rem 0.4rem;}

.nav_logo{width: 1.32rem;float: left;}
.nav_tab{width: 0.48rem;height: 0.48rem;float: right;}
.normal{background:  url('../../public/img/nav_collpase_white.png') 0 0 no-repeat;-webkit-background-size: contain;
background-size: contain;}
.scroll{background:  url('../../public/img/nav_collpase_red.png') 0 0 no-repeat;-webkit-background-size: contain;
background-size: contain;}
.nav_list{width: 7.5rem;margin: 0 auto; text-align: center;font-size: 0.32rem;}
.nav_list ul li{line-height: 0.88rem;color: #3e3e3e;background-color: /* #FAF9FD */#fff;border-bottom: 0.01rem solid #D1D1D1;}
.nav_list a{display: block;color: #3e3e3e;}
.hidden{display: none;}

.nav_scroll{background-color: #fff;border-bottom: 0.01rem solid #D1D1D1;}

.banner_wrap{width: 100%;}
.banner{width: 7.5rem;margin: 0 auto;}
.banner img{width: 100%;}

.summary{margin-top: 0.6rem;}
.summary h2{text-align: center;}
.summary p{text-align: center;margin-top: 0.2rem;}

.gad_wrap,.web_wrap,.contact_wrap,.taobao_wrap{margin-top: 1rem;}
.til_wrap{margin-bottom: 0.6rem;}
.til{text-align: center;}
.til_bottom{width: 0.32rem;border-bottom: 0.01rem solid #D1D1D1;margin: 0.2rem auto 0;}

.gad{display: block;width: 4.4rem;border-radius: 0.2rem;/* box-shadow: 0 0.04rem 0.12rem 0.02rem rgba(0, 0, 0, 0.3);  */margin: 0 auto 0.6rem;padding: 0.4rem;text-align: center;}
.gad_img{margin: 0 auto 0.2rem;}
.gad_img img{width: 100%;}
.gad_img1{width: 2.1rem;}
.gad_img2{width: 1.38rem;}
.gad_img3{width: 1.7rem;}
.cap_line{width: 1.7rem;height: 0.1rem;border-bottom: 0.02rem solid #D1D1D1;margin: 0.2rem auto;}
.gad p{text-align: center;}

.web_img{width: 100%;}
.web_img img{width: 100%;}
.web_icons{width: 0.24rem;height: 0.24rem;padding: 0.1rem;border-radius: 50%;-webkit-box-shadow: 0 0.04rem 0.1rem rgba(0, 0, 0, .2);
box-shadow: 0 0.04rem 0.1rem rgba(0, 0, 0, .2);float: left;margin-right: 0.2rem;}
.web_icons img{width: 100%;}
.web_list ul li{margin-top: 0.6rem;}
.web_list_til h2{float: left;}
.web_list_til+p{padding-left: 0.64rem;margin-top: 0.2rem;}
.contacted_btn{width: 3.2rem;margin: 0.4rem auto 0;border-radius: 0.44rem;box-shadow: 0 0.04rem 0.1rem  rgba(0, 0, 0, .2);}
.contacted_btn a{display: block;font-size: 0.3rem;line-height: 0.88rem;color: #ff6573;text-align: center;}


.til p{text-align: center;margin-top: 0.2rem;}
.contact_list ul{width: 100%;display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;justify-content: space-between;}
.code_wrap{width: 2rem;display: block;}
.remark{text-align: center;margin-top: 0.1rem;}

.taobao_wrap{width: 7.5rem;margin: 0 auto;background: linear-gradient(to right,rgba(255, 101, 115, 1.0) 0%,rgba(255, 177, 153, 1.0) 100%);}
.taobao{background:  url('../img/taobao_bg.png') 0 0 repeat;-webkit-background-size: cover;
background-size: cover;padding: 0.8rem 0;}
.taobao h2,.taobao p{text-align: center;color: #fff;}
.taobao h2{margin-bottom: 0.4rem;}
.taobao_btn{width: 3.2rem;margin: 0.2rem auto;background-color: #fff;border-radius: 0.44rem;}
.taobao_btn a{display: block;font-size: 0.3rem;text-align: center;color: #ff6573;line-height: 0.88rem;}
